<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="app/css/style.css">
    <script async defer src="app/js/passvalidation.js"></script>
   
    <title>CVS</title>
  </head>
  <body>
      <section class="header ">
        <nav class="navbar sticky-top navbar-expand-lg enable-transitions ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title=" TEL URGENTE: 0745561007 "
                ><img src="app/img/logo.jpg" alt="logo" width="100px"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
        <ul class="nav ms-auto fs-4  ">
            <li class="nav-item">
              <a class="nav-link active  link-info link-hover " id="link-3" aria-current="page" href="?page=home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-info link-3" href="?page=service">Servicii</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-info link-3" href="?page=grooming">Grooming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-info link-3" href="?page=galery">Galerie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-info link-3" href="?page=appointments">Programari</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-info link-3" href="?page=about">Despre noi</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link link-info link-3" href="?page=contact">Contact</a>
                  </li>
              
          </ul>
          <button
            type="button"
            id="loginbutton"
            class="btn btn-info ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Login
          </button>
          <button
          type="button"
          id="signupbutton"
          class="btn btn-info ms-2"
          data-bs-toggle="modal"
          data-bs-target="#signupModal"
        >
          SignUp
        </button>
          </div>
        </div>
        </nav>
          <div class="floating_circle rounded-circle d-flex justify-content-around flex-row mt-10 p-3 align-items-center  position-absolute border-dark mb-3" style="height: 500px; width: 500px;">
            <img class="rounded-circle" src="app/img/pozacerc.jpg" alt="vet1" height="200px"  >
            <h3 class="mb-5">Avem grija de animalul tau ca si de un membru al familiei!</h3>

        </div>
        
    
      </section>

      <div class=" container mt-5">
        <h1 class="text-info display-4 text-center mb-5">Centru veterinar de specialitate!</h1>
        <div class=" d-flex row  justify-content-evenly text-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo reprehenderit hic suscipit aliquam veritatis iste, sunt ut, ratione molestiae temporibus inventore consequuntur, nostrum corrupti at quae perspiciatis eligendi dolor maiores.</p>
        <p>Explicabo, voluptatum sed aut temporibus recusandae officia doloribus, nam ullam dignissimos molestias iure aliquam enim a sunt amet! Similique alias tenetur nulla incidunt asperiores a ut voluptatum molestias doloribus possimus?</p>
        <p>Maxime, ipsa aspernatur eveniet, explicabo assumenda nemo accusantium, id maiores reprehenderit iste natus? Soluta illum perspiciatis adipisci, rem earum dolore quasi, recusandae voluptas repudiandae saepe voluptate maxime quibusdam excepturi architecto?</p>
        <p>Soluta minima assumenda in impedit! Ullam quae et omnis aliquam odio, ipsam, expedita, sit nihil pariatur eligendi ipsum sint quisquam magni velit. Dolores placeat explicabo enim nostrum incidunt, voluptates consequuntur.</p>
        </div>
    </div>

    <div class="container d-flex justify-content-evenly my-3 ">
        <div class="img" >
<a href=""><img src="app/img/flex1.jpg" alt="pug" height="200px" class="image" ></a>
<div class="overlay">
  <div class="text"><a href="?page=trataments" class="nav-link link-light">Tratamente</a></div>
</div>
        </div >
        <div class="img" >
        <a href=""><img src="app/img/flex2.jpg.crdownload" alt="grooming" height="200px" class="image"></a>
        <div class="overlay">
            <div class="text"><a href="?page=grooming" class="nav-link link-light">Grooming</a></div>
        </div>
    </div>
        <div class="img" >
            <a href=""><img src="app/img/flex3.png" alt="accomodation" height="200px" class="image"></a>
            <div class="overlay">
              <div class="text"><a href="?page=accomodation" class="nav-link link-light">Cazare</a></div>
            </div>
        </div>
            <div class="img">
                <a href=""><img src="app/img/flex4.jpg" alt="exotic" height="200px" class="image"></a>
                <div class="overlay">
                  <div class="text"><a href="?page=exotic" class="nav-link link-light">Animale exotice</a></div>
                </div>
            </div>
    </div>
    <div class="form container mt-5">
        <fieldset>
            <legend class="text-info">Trimite un mesaj:</legend>
    <div class=" mb-3">
      <form action="?page=sendmessage" method="POST">
        <label for="emailm" class="form-label text-info">Email address</label>
        <input type="email" class="form-control" id="emailm" placeholder="nume@example.com" name="emailm">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label text-info">Mesajul dumneavoastra:</label>
        <textarea class="form-control" id="message" rows="3" name="message"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Trimite</button>
    </form>
      </fieldset>
    </div>
<div class="container col-5 mt-5">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
           
            <th scope="col">Luni-Vineri</th>
            <th scope="col">Sambata-Duminica</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>09:00-21:00</td>
            <td>09:00-16:00</td>
            
          </tr>
         
          
        </tbody>
      </table>
    </div>




      <!-- Modal -->
    <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="?page=login">
            <!-- login.php-->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >UserName:</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="userName"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password:</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="userPass"
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- SIGN UP Modal -->
  <div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up form</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="signUpForm" method="POST" action="?page=signup" onsubmit="handleform(event)">
          <div class="mb-3">
            <label for="signUpUserName" class="form-label"
              >new UserName:</label
            >
            <input
              type="text"
              class="form-control"
              id="signUpUserName"
              aria-describedby="emailHelp"
              name="signUpUserName"
            />
          </div>
          <div class="mb-3">
            <label for="signUpUserEmail" class="form-label"
              >new UserEmail:</label
            >
            <input
              type="email"
              class="form-control"
              id="signUpUserEmail"
              aria-describedby="emailHelp"
              name="signUpUserEmail"
            />
          </div>
          <div class="mb-3">
            <label for="signUpPass1" class="form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              id="signUpPass1"
              name="signUpPass1"
            />
          </div>
          <div class="mb-3">
            <label for="signUpPass2" class="form-label"
              >Re-type Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="signUpPass2"
              name="signUpPass2"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Am deja un cont!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"
  ></script>
</body>
</html>

  </body>
</html>
